name: Create and publish the Docker image

on:
  push:
    branches:
      - "dev"
      - "main"
    tags: ["*"]
    paths:
      - ".github/workflows/release.yml"
      - "container/**"
      - "Dockerfile"

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  # 2023-2-22 Not sure if kubo-tests are helpful anymore.
  #
  # test-kubo:
  #   name: "test:kubo"
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v3
  #       with:
  #         path: L1-node

  #     - name: Check out Kubo fork
  #       uses: actions/checkout@v3
  #       with:
  #         repository: filecoin-saturn/kubo
  #         ref: refs/heads/saturn
  #         path: kubo

  #     - uses: actions/cache@v3
  #       with:
  #         path: |
  #           ~/.cache/go-build
  #           ~/go/pkg/mod
  #         key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
  #         restore-keys: |
  #           ${{ runner.os }}-go-

  #     - name: Install Kubo gateway test dependencies
  #       run: |
  #         cd $GITHUB_WORKSPACE/kubo
  #         make test_sharness_deps

  #     - name: Run Kubo gateway tests
  #       run: |
  #         export L1_NODE_REPO_PATH=$GITHUB_WORKSPACE/L1-node
  #         export L1_NODE_LOG_FILE=/tmp/node.log

  #         cd $GITHUB_WORKSPACE/kubo/test/sharness/lib
  #         bash ./test-saturn-L1.sh

  #     - name: Print L1 logs
  #       if: always()
  #       run: cat /tmp/node.log

  build-and-push-image:
    #needs: [test-kubo]
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Set orchestrator env (main)
        if: (github.ref_type == 'branch' && github.ref_name == 'main') || github.ref_type == 'tag'
        run: echo "SATURN_NETWORK=main" >> $GITHUB_ENV

      - name: Set orchestrator env (test)
        if: github.ref_type == 'branch' && github.ref_name == 'dev'
        run: echo "SATURN_NETWORK=test" >> $GITHUB_ENV

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
        with:
          platforms: "arm64"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Set the git short sha
        id: git
        run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Compute the mutable docker tag
        id: tags
        run: |
          tag="$SATURN_NETWORK"
          # ensure canaries gets docker tagged correctly
          if [ "$GITHUB_REF_NAME" == "dev" ] && [ "$GITHUB_REF_TYPE" == "tag" ]; then
            tag="canary"
          fi
          echo "mutable_docker_tag=${tag}" >> $GITHUB_OUTPUT

      - name: Build and push Docker image
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: |
            ghcr.io/filecoin-saturn/l1-node:${{ steps.tags.outputs.mutable_docker_tag }}
            ghcr.io/filecoin-saturn/l1-node:${{ github.run_number}}_${{ steps.git.outputs.sha_short }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/amd64,linux/arm64
          cache-from: type=registry,ref=ghcr.io/filecoin-saturn/l1-node:${{ steps.tags.outputs.mutable_docker_tag }}
          cache-to: type=inline
          build-args: |
            GIT_COMMIT_HASH=${{ github.sha }}
            RUN_NUMBER=${{ github.run_number }}
            SATURN_NETWORK=${{ env.SATURN_NETWORK }}
            LASSIE_EVENT_RECORDER_URL=${{ secrets.LASSIE_EVENT_RECORDER_URL }}
            LASSIE_EVENT_RECORDER_AUTH=${{ secrets.LASSIE_EVENT_RECORDER_AUTH }}
